<h3 class="form-signin-heading"><%= ctx %></h3>
<form action="<%= url %>" class="form-signin" method="post">
<input type="text" class="input-block-level" id="region" name="region" value="1" req="true" placeholder="大区ID" exp="^[1-9]\d*$" ts='大区ID格式错误'>
<input type="text" class="input-block-level" id="userid" name="userid" req="true" placeholder="玩家ID" exp="^[1-9]\d*$" ts='玩家ID格式错误'>
<input type="text" class="input-block-level" id="id" name="id" req="true" placeholder="兵种ID" exp="^[1-9]\d*$" ts='兵种ID格式错误'>
<input type="text" class="input-block-level" id="cnt" name="cnt" req="true" placeholder="兵种数量(+-)" exp="^(\+[1-9]\d*|[1-9]\d*|\-[1-9]\d*)$" ts='兵种数量格式错误'>
<button class="btn btn-large btn-primary" type="submit">提交</button>
  <% if (csrf) { %>
<input type="hidden" name="_csrf" value='<%= csrf %>'>
  <% } %>
</form>

<script type="text/javascript">
    F.st();
</script>