<h3 class="form-signin-heading"><%= ctx %></h3>
<pre>
服务器ID=0 gate GM指令消息
服务器ID=9999 center GM指令消息
服务器ID=9998 all gs GM指令消息
服务器ID=x  指定gs GM指令消息
</pre>
<form action="<%= url %>" class="form-signin" method="post">
<input type="text" class="input-block-level" id="region" name="region" value="1" req="true" placeholder="大区ID" exp="^[1-9]\d*$" ts='大区ID格式错误'>
<input type="text" class="input-block-level" id="serverid" name="serverid" req="true" placeholder="服务器ID" exp="^[1-9]\d*$|^0$" ts='服务器ID格式错误'>
<button class="btn btn-large btn-primary" type="submit">提交</button>
  <% if (csrf) { %>
<input type="hidden" name="_csrf" value='<%= csrf %>'>
  <% } %>
</form>

<script type="text/javascript">
    F.st();
</script>