<p>getgame_server_versionformgate:<%=data.getnames[0].length %></p>
<p>startloadgame:<%=data.loadgames[0].length %></p>
<p>startinitgame:<%=data.initgames[0].length %></p>
<p>connectgameserver:<%=data.initgame1s[0].length %></p>