<h3 class="form-signin-heading"><%= ctx %></h3>
<form action="<%= url %>" class="form-signin" method="get">
<input type="text" class="input-block-level" id="id" name="id" req="true" placeholder="玩家ID" exp="^[1-9]\d*$" ts='玩家ID格式错误'>
<input type="text" class="input-block-level" id="udid" name="udid" req="true" placeholder="UDID">
<button class="btn btn-large btn-primary" type="submit">提交</button>
  <% if (csrf) { %>
<input type="hidden" name="_csrf" value='<%= csrf %>'>
  <% } %>
</form>

<script type="text/javascript">
  F.st();
</script>